<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart Products</title>
</head>

<body>
    <ul class="list-cart">
    </ul>
    <script type="text/template" id="tplCartList">
        {{ _.forEach(users, function(user) { }}
        <li>
            <span>{{= product.id }}</span>
            <span>{{= product.name }}</span>
            <span>{{= product.amount }}</span>
            <span>{{= product.price }}</span>
            <span>
                <form>
                    <input type="hidden" name="delete" value="{{= product.id }}">
                    <button type="submit">delete</button>
                </form>
            </span>
        </li>
        {{ }); }}
    </script>
</body>

</html>
